<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hire Me, Yammer</title>
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<style>
body {
  font-family: "Raleway";
}

.section-divider {
    margin: 70px 0;
}

.jumbotron {
  margin-bottom: 80px;
}

/*#home{*/
  /*background-image: url('http://static1.squarespace.com/static/550c7c46e4b0b115246fe6c1/t/5591eb56e4b04b9040a64836/1435626327186/yammeroffice.jpg)');*/
  /*background-color: rgba(32,23,19,.7);*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
  /*height: 650px;*/
  /*width: 100%;*/
/*}*/

/*#home-section{*/
  /*color: white;*/
  /*font-size: 82px;*/
/*}*/

.experience-item ul {
  padding: 0 0 0 15px;
}

#home {
  position: relative;
  padding: 0;
  background-image: url('http://static1.squarespace.com/static/550c7c46e4b0b115246fe6c1/t/5591eb56e4b04b9040a64836/1435626327186/yammeroffice.jpg');
  height: 750px;
  background-size: 1400px;
  background-repeat: no-repeat;
}

#home-section {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-top: 260px;
}

#overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 0;
}

#contact {
  /*display: inline;*/
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}
#contact h4 {
  margin-top: 40px;
  text-align: center;
}

#contact a {
  color: white !important;
}

#contact a:hover {
  color: #337ab7;
}

#last-section {
  margin: 0;
}

</style>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home" id="title">Home</a></li>
                    <li><a href="#who-am-i" id="about-section">Who Rita is</a></li>
                    <li><a href="#why-Yammer" id="why-yammer">Why Yammer</a></li>
                    <li><a href="#education" id="education-section">Education</a></li>
                    <li><a href="#experience" id="experience-section">Experience</a></li>
                    <li><a href="#contact" id="contact-section">Get in Touch</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="home" class="jumbotron">
      <div id="overlay">
      <div class="container" style="position: absolute; z-index:1">
          <h1 id="home-section">Yammer, I want to work<br> in your Applications and Services team!</h1>
      </div>
    </div>
  </div>

    <!-- <section id="about-section"> -->
    <div id="who-am-i" class="container">
        <div class="row">
            <div class="lead text-center">
                Hi, I am Rita! I want to leverage my business and legal skills into a Design Researcher role at Yammer.
                <br/>
                I value
                    <strong>self-direction and initiative</strong> over waiting for instructions,
                    <strong>flexibility and adaptability</strong> over resisting change, and being
                    <strong>proactive</strong> over being reactive,
                Most of all I value the colleagues I work with.
            </div>
        </div>
    </div>
    <hr class="section-divider">
    <!-- </section> -->
    <div id="why-Yammer" class="container">
      <h1 class="text-center" style="margin-bottom: 60px">Why Yammer?</h1>
        <div class="row">
            <div class="col-md-3">
                <p>
                    <strong>Innovative company</strong>: Social enterprise networks for businesses did not
                    <strong>exist</strong> until Yammer came on the scene. I want to work for an innovative company that is a trend setter.
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <strong>Great product</strong>: Yammer has revolutionized the way employees in an organization work, communicate and collaborate on projects.
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <strong>Opportunity to work with and learn from the best!</strong> Working at Yammer will provide me with an opportunity to work alongside talented and brilliant people, learn from them, be challenged and make an impact.
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <strong>Great Culture</strong>: Yammer fosters a culture of learning and self-improvement.
                </p>
            </div>
        </div>
    </div>
    <hr class="section-divider">

    <div id="education" class="container">
      <h1 class="text-center" style="margin-bottom: 60px">Education</h1>
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/GULC_south_quad.jpg" alt="GULC image" width="140" height="140">
            <h3>Georgetown University Law Center</h3>
            Juris Doctor
          </div>
            <div class="col-md-6 text-center">
              <img class="img-circle" src="http://earth.callutheran.edu/c/education/files/xthousand-oaks.jpg.pagespeed.ic.bP4VWzvTbE.webp" alt="CALUTHERAN image" width="140" height="140">
              <h3>California Lutheran University</h3>
              Bachelor of Science, Business Administration
            </div>
        </div>
    </div>
    <hr class="section-divider">

    <div id="experience" class="container">
        <h1 class="text-center" style="margin-bottom: 60px">Skills and Competencies</h1>
        <div class="row">
          <div class="col-md-6">
          <p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <strong>Ability to design questionnaires, conduct research, analyze data and write reports</strong>: 3+ years of conducting research and analyzing data</p>
          </div>
            <div class="col-md-6">
          <p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <strong>Project Management</strong>: 3+ years of planning, monitoring and coordinating projects and ensuring delivery of contract deliverables</p>
          </div>
          <div class="col-md-6">
          <p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <strong>Proven ability to communicate both verbally and in writing with a wide variety of people</strong></p>
          </div>
          <div class="col-md-6">
          <p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <strong>Ability to adapt and respond to changing work situations and environments</strong></p>
          </div>
          <div class="col-md-6">
          <p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <strong>Proven ability to work independantly and as part of a team</strong></p>
          </div>
          <div class="col-md-6">
          <p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <strong>Basic HTML and CSS</strong></p>
          </div>
          <div class="col-md-6">
          <p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <strong>Bootstrap Framework</strong></p>
          </div>
      </div>
    </div>

    <hr class="section-divider">

    <div id="experience" class="container">
      <h1 class="text-center" style="margin-bottom: 60px">Experience</h1>
      <div class="row">
        <div class="col-md-4 experience-item">
          <h4>Business Analyst</h4>
          BDO International Limited, July 2012 - Current<br>
          Kampala, Uganda; Bujumbura, Burundi
          <ul>
            <li>Saved the company 10,000 dollars after renegotiating a contract with a client.</li>
            <li>Project Management: Planned, managed and coordinated projects.</li>
            <li>Conducted desk research, designed questionnaires, conducted interviews and focus group discussions with key stakeholders to understand an NGO’s challenges;
              drafted a 40-page business plan for the NGO, identifying trends, strategies and opportunities to increase revenue.</li>
          </ul>
        </div>

         <div class="col-md-4 experience-item">
            <h4>Legal Tools Database Analyst</h4>
            Central and Eastern European Initiative for International Criminal Law and Human Rights, September 2015 - Current<br>
        Warsaw, Poland
          <ul>
              <li>Plan the research of materials to be published in the Legal Tools Database.</li>
              <li>Conducted research and analyzed domestic laws and policies.</li>
              <li>Process 80 legal documents weekly finishing an average of 2 days early.</li>
              <li>Edit meta-data and publish the edited records according to the organization's guidelines.</li>
          </ul>
          </div>
          <div class="col-md-4 experience-item">
                <h4>Project Manager</h4>
                Law and Advocacy for Women in Uganda, October 2011 - September 2015<br>
                Kampala, Uganda
                <ul>
                <li>Conducted extensive research, which included reviewing policies and training manuals, laws and court cases.</li>
                <li>Designed questions, initiated contact with key stakeholders and interviewed them.</li>
                <li>Reviewed, edited and proofread reports and proposals.</li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-2 experience-item">
            <h4>Law Clerk</h4>
            International Criminal Court, April 2011 - October 2011<br> The Hague, Netherlands
        <ul>
            <li>Conducted research and drafted legal memoranda, orders, decisions and submissions.</li>
            <li>Analyzed evidence to assess whether there was a reasonable basis that crimes under the Court's jurisdiction had been committed.</li>
            <li>Asessed whether witnesses' redacted statements in court documents were justified.</li>
        </ul>
          </div>

          <div class="col-md-4 experience-item">
          <h4>Research Assistant</h4>
          Georgetown University Law Center, Research Services, May 2008 - April 2011<br>
        Washington, D.C.,USA
        <ul>
            <li>Managed research projects with tight deadlines while working in a fast paced environment.</li>
            <li>Conducted research for law professors and drafted legal memoranda explaining research findings.</li>
            <li>Proofread, edited and cite-checked Professors' law review articles.</li>
        </ul>
          </div>
      </div>
      <h6 class="text-center"><a href="https://www.linkedin.com/pub/rita-mutyaba/21/b07/737"><strong>See complete professional experience</strong></h6></a>
    </div>

    <hr id="last-section" class="section-divider">
    <div id="contact">
        <h2 class="text-center" style="margin-bottom: 60px">Let me prove to you that I will be a promising addition to your company.</h2>
        <!-- <p><a href="mailto:ritamutyaba@gmail.com" target="_blank">Email me</a> -->
        <h4><strong><a href="https://www.linkedin.com/pub/rita-mutyaba/21/b07/737" target="_blank"><img src="http://theappshowbox.com/wp-content/uploads/2015/10/LinkedIn-Logo.png"/>Linkedin</a></strong></h4>
       </p>
   </div>

      <div class="container text-center">
        <footer>
          <h6>I designed and built this website as a creative job search technique. No copyright infringement intended.</h6>
        </footer>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>
